body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
canvas {
  border: 1px solid black !important;
}
#container {
  width: 500px;
  height: 650px;
  display: inline-block;
}
#config {
  text-align: left;
  width: 500px;
  height: 650px;
  background-color: #eee;
  display: inline-block;
  vertical-align: top;
}
input, label {
  display: block;
}